body {
  margin: 0;
  padding: 0;
  background-color: #81c784;
  font-family: "IBM Plex Sons" sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #5d4037;
  padding: 15px;
}
nav p {
  font-size: 2rem;
  padding-left: 30px;
  color: #8a5d1b;
}
nav .icons {
  display: flex;
  gap: 15px;
}
nav .icons button {
  background: none;
  border-style: none;
  cursor: pointer;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  color: #5d4037;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 70px;
}
article .impact-section {
  width: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
article h1 {
  font-size: 3em;
  padding: 0;
  margin: 0;
}
article p {
  font-size: 1.5em;
}
article button {
  background: none;
  border-style: none;
  width: 12vw;
  padding: 15px 20px;
  cursor: pointer;
  background-color: #ffcc80;
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 1.1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
article button:hover {
  background-color: #ffe0b3;
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}
article img {
  width: 25vw;
  border-radius: 19px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
article img:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

section {
  width: 100%;
  height: auto;
  padding: 60px;
}
section h2 {
  color: #5d4037;
  font-size: 2em;
}
section .healthcare, section .furniture {
  padding-bottom: 60px;
}
section .healthcare h2, section .furniture h2 {
  font-weight: bold;
  padding-bottom: 60px;
  font-size: 2em;
}
section .healthcare .card-section, section .furniture .card-section {
  display: flex;
  width: auto;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 150px;
       column-gap: 150px;
  row-gap: 80px;
}
section .healthcare .product-card, section .furniture .product-card {
  width: 14vw;
  height: auto;
  background-color: #e6f4ea;
  color: #5d4037;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  word-wrap: break-word;
}
section .healthcare .product-card .icon, section .furniture .product-card .icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 12px;
}
section .healthcare .product-card .icon svg, section .furniture .product-card .icon svg {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: fill 0.5s ease;
}
section .healthcare .product-card .icon svg:hover, section .furniture .product-card .icon svg:hover {
  fill: red;
}
section .healthcare .product-card .product-image, section .furniture .product-card .product-image {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
section .healthcare .product-card .product-image img, section .furniture .product-card .product-image img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
section .healthcare .product-card .product-image img:hover, section .furniture .product-card .product-image img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
section .healthcare .product-card .product-image h3, section .furniture .product-card .product-image h3 {
  margin-top: 10px;
  font-size: 1.3em;
  color: #5d4037;
}
section .healthcare .product-card .product-image p, section .furniture .product-card .product-image p {
  font-size: 1em;
  color: #5d4037;
  margin-top: 5px;
  line-height: 1.4;
}
section .healthcare .product-card, section .furniture .product-card {
  width: 14vw;
  height: auto;
  background-color: #e6f4ea;
  color: #5d4037;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  word-wrap: break-word;
}
section .healthcare .product-card .icon, section .furniture .product-card .icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 12px;
}
section .healthcare .product-card .icon svg, section .furniture .product-card .icon svg {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: fill 0.5s ease;
}
section .healthcare .product-card .icon svg:hover, section .furniture .product-card .icon svg:hover {
  fill: red;
}
section .healthcare .product-card .product-image, section .furniture .product-card .product-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section .healthcare .product-card .product-image img, section .furniture .product-card .product-image img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
section .healthcare .product-card .product-image img:hover, section .furniture .product-card .product-image img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
section .healthcare .product-card .product-image h3, section .furniture .product-card .product-image h3 {
  margin-top: 10px;
  font-size: 1.3em;
  color: #5d4037;
}
section .healthcare .product-card .product-image p, section .furniture .product-card .product-image p {
  font-size: 1em;
  color: #5d4037;
  margin-top: 5px;
  line-height: 1.4;
}
section .furniture .product-card {
  background-color: #c08834;
  color: white;
}

.about-us {
  padding-bottom: 60px;
}
.about-us h2 {
  padding-bottom: 60px;
  font-weight: bold;
}
.about-us .mission-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.about-us .mission-section .earth, .about-us .mission-section .innovation {
  width: 40vw;
  display: flex;
  gap: 40px;
  color: #e86424;
}
.about-us .mission-section img {
  -o-object-fit: contain;
     object-fit: contain;
}
.about-us .mission-section p {
  text-align: center;
  font-size: 1.5em;
}
.gallery h2 {
  font-weight: bold;
  padding-bottom: 60px;
}
.gallery .gallery-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gallery .gallery-images img {
  width: 28vw;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 5px, 35%;
     object-position: 5px, 35%;
  border-radius: 16px;
}
.gallery .gallery-images img:hover {
  transform: scale(1.1);
}

.location {
  color: #e86424;
}
.location h2 {
  padding-bottom: 60px;
  padding-top: 60px;
  font-size: 2.5em;
}
.location .map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.location h3,
.location p {
  font-size: 1.5em;
}

footer {
  background-color: #ffcc80;
  width: 100%;
  height: auto;
  padding: 40px;
  color: white;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 40px;
}/*# sourceMappingURL=main.css.map */