$primary-color: #81c784;
$secondary-color: #e6f4ea;
$tertiary-color: #c08834;
$quaternary-color: #ffcc80;
$primary-text-color: #5d4037;
$background-color: #f7f8f5;
$font-stack: "IBM Plex Sons" sans-serif;
$paragraph-size: 1.5em;
$border-radius: 19px;
$shadow-color: rgba(0, 0, 0, 0.2);
$hover-scale: 1.05;
$hover-color: lighten($quaternary-color, 10%);
$border-radius-btn: 12px;

@mixin boxSize($width, $padding) {
  width: $width;
  padding: $padding;
}

@mixin flexCenter($direction, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin buttonStyle {
  background: none;
  border-style: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  font-family: $font-stack;
}

nav {
  @include flexCenter(row, space-between, center);
  color: $primary-text-color;
  padding: 15px;

  p {
    font-size: 2rem;
    padding-left: 30px;
    color: #8a5d1b;
  }

  .icons {
    display: flex;
    gap: 15px;

    button {
      @include buttonStyle();
      cursor: pointer;
    }
  }
}

article {
  @include flexCenter(row, space-between, center);
  width: auto;
  color: $primary-text-color;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 70px;

  .impact-section {
    @include boxSize(40%, 20px);
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  h1 {
    font-size: 3em;
    padding: 0;
    margin: 0;
  }

  p {
    font-size: $paragraph-size;
  }

  button {
    @include buttonStyle();
    width: 12vw;
    padding: 15px 20px;
    cursor: pointer;
    background-color: $quaternary-color;
    border: none;
    border-radius: $border-radius-btn;
    color: white;
    font-size: 1.1em;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: $hover-color;
      transform: translateY(-3px) scale(1.05);
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    }
  }

  img {
    width: 25vw;
    border-radius: $border-radius;
    box-shadow: 0px 4px 8px $shadow-color;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale($hover-scale);
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    }
  }
}

section {
  width: 100%;
  height: auto;
  padding: 60px;
  h2 {
    color: $primary-text-color;
    font-size: 2em;
  }
  .healthcare {
    padding-bottom: 60px;
    h2 {
      font-weight: bold;
      padding-bottom: 60px;
      font-size: 2em;
    }
    .card-section {
      display: flex;
      width: auto;
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 150px;
      row-gap: 80px;
    }
    .product-card {
      width: 14vw;
      height: auto;
      background-color: $secondary-color;
      color: $primary-text-color;
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-radius: 8px;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      .icon {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 12px;

        svg {
          width: 28px;
          height: 28px;
          cursor: pointer;
          transition: fill 0.5s ease;
          &:hover {
            fill: red;
          }
        }
      }

      .product-image {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        img {
          max-width: 100%;
          height: auto;
          border-radius: 12px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s ease, box-shadow 0.3s ease;

          &:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          }
        }

        h3 {
          margin-top: 10px;
          font-size: 1.3em;
          color: $primary-text-color;
        }

        p {
          font-size: 1em;
          color: $primary-text-color;
          margin-top: 5px;
          line-height: 1.4;
        }
      }

      overflow: hidden;
      word-wrap: break-word;
    }
    .product-card {
      width: 14vw;
      height: auto;
      background-color: $secondary-color;
      color: $primary-text-color;
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-radius: 8px;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      .icon {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 12px;

        svg {
          width: 28px;
          height: 28px;
          cursor: pointer;
          transition: fill 0.5s ease;
          &:hover {
            fill: red;
          }
        }
      }

      .product-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
          max-width: 100%;
          height: auto;
          border-radius: 12px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s ease, box-shadow 0.3s ease;

          &:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          }
        }

        h3 {
          margin-top: 10px;
          font-size: 1.3em;
          color: $primary-text-color;
        }

        p {
          font-size: 1em;
          color: $primary-text-color;
          margin-top: 5px;
          line-height: 1.4;
        }
      }

      overflow: hidden;
      word-wrap: break-word;
    }
  }
  .furniture {
    @extend .healthcare;
    .product-card {
      background-color: $tertiary-color;
      color: white;
    }
  }
}

.about-us {
  padding-bottom: 60px;
  h2 {
    padding-bottom: 60px;
    font-weight: bold;
  }
  .mission-section {
    @include flexCenter(row, space-evenly, center);
    .earth {
      $text-color: #e86424;
      width: 40vw;
      display: flex;
      gap: 40px;
      color: $text-color;
    }
    img {
      object-fit: contain;
    }
    p {
      text-align: center;
      font-size: $paragraph-size;
    }
  }
  .innovation {
    @extend .earth;
  }
}
.gallery {
  h2 {
    font-weight: bold;
    padding-bottom: 60px;
  }
  .gallery-images {
    @include flexCenter(row, space-between, center);
    img {
      width: 28vw;
      height: 45vh;
      object-fit: cover;
      object-position: 5px, 35%;
      border-radius: 16px;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.location {
  $text-color: #e86424;
  color: $text-color;
  h2 {
    padding-bottom: 60px;
    padding-top: 60px;
    font-size: 2.5em;
  }
  .map {
    @include flexCenter(row, center, center);
    padding-bottom: 50px;
  }
  h3,
  p {
    font-size: $paragraph-size;
  }
}

footer {
  background-color: $quaternary-color;
  width: 100%;
  height: auto;
  padding: 40px;
  color: white;
  .social-media {
    @include flexCenter(row, center, center);
    gap: 40px;
    padding-bottom: 40px;
  }
}
